<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Aluno</title>
</head>

<body>
    <h3>Editar Aluno</h3>
    <form th:action="@{/atualizarAluno}" th:method="POST">
        <input type="hidden" name="id" th:value="${aluno.id}">

        <div class="campo">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" th:value="${aluno.nome}">
        </div>
        <div class="campo">
            <label for="cpf">CPF</label>
            <input type="text" name="cpf" id="cpf" th:value="${aluno.cpf}">
        </div>
        <div class="campo">
            <label for="prontuario">Prontuario</label>
            <input type="number" name="prontuario" id="prontuario" th:value="${aluno.prontuario}">
        </div>
        <div class="campo">
            <label for="endereco">Endereco</label>
            <input type="text" name="endereco" id="endereco" th:value="${aluno.endereco}">
        </div>
        <div class="campo">
            <label for="dataInicio">Data de início</label>
            <input type="date" name="dataInicio" id="dataInicio" th:value="${aluno.dataInicio}">
        </div>
        <button type="submit">Atualizar</button>
    </form>
    <form th:action="@{/listaAlunos}" method="GET">
        <button type="submit">Ir para lista de alunos</button>
    </form>
</body>

</html>