<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Professor</title>
</head>

<body>

    <form th:action="@{/cadastrarProfessores}" method="POST">

        <h3>Cadastrar Professor</h3>

        <div class="campo">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome">
        </div>

        <div class="campo">
            <label for="cpf">CPF</label>
            <input type="text" name="cpf" id="cpf">
        </div>

        <div class="campo">
            <label for="area">Área</label>
            <input type="text" name="area" id="area">
        </div>

        <div class="campo">
            <label for="formacao">Formação</label>
            <input type="text" name="formacao" id="formacao">
        </div>

        <div class="campo">
            <label for="endereco">Endereço</label>
            <input type="text" name="endereco" id="endereco">
        </div>

        <div class="campo">
            <label for="salario">Salário</label>
            <input type="number" step="0.01" name="salario" id="salario">
        </div>

        <button type="submit">Cadastrar</button>

    </form>

    <form th:action="@{/listaProfessores}" method="GET">
        <button type="submit">Ir para lista de professores</button>
    </form>

</body>

</html>