<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Cursos</title>
</head>

<body>

    <form th:action="@{/cadastrarCurso}" method="POST">
        <h3>Criar Cursos</h3>
        <div class="campo">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome">
        </div>
        <div class="campo">
            <label for="semestres">Semestres</label>
            <input type="number" name="semestres" id="semestres">
        </div>
        <div class="campo">                                                                                    
            <label for="nDisciplinas">Numero de disciplinas</label>
            <input type="number" name="nDisciplinas" id="nDisciplinas">
        </div>
        <button type="submit">Criar</button>
    </form>
    <form th:action="@{/listaCursos}" method="GET">
        <button type="submit">Ir para lista de cursos</button>
    </form>
</body>

</html>